<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
        <nav class="side-nav">
        <div class="logo-container">
            <img class="myLogo" src="/images/RohanVyas.png" alt="Rohan Vyas">
        </div>
        <ul class="nav-menu">
            <li><a href="#home" class="nav-link active">Home</a></li>
            <li><a href="#about" class="nav-link">About Me</a></li>
            <li><a href="#projects" class="nav-link">Projects</a></li>
            <li><a href="#contact" class="nav-link">Contact</a></li>
        </ul>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/rohan-vyas-0bb031181/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://github.com/rohan09123"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        </div>
    </nav>


    <!-- Main Content -->
    <div class="mainBody">
        <div class="container" id="content">
            {{{ body }}}
        </div>
    </div>

    <!-- Footer -->
    <!-- Footer -->
    <footer>
        <p>Copyright © 2024<br>Designed with ❤️ by Rohan Vyas</p>
    </footer>


    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- custom JavaScript -->
    <script src="./javascripts/custom-js.js"></script>
</body>

</html>
